# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom ignores
bin/setup_default_files.cfg
build
xbuild
PROX/FOUNDATION/MESH_ARRAY/unit_tests/mesh_array_io/mesh_array_data_path.h
PROX/FOUNDATION/MESH_ARRAY/unit_tests/mesh_array_tetgen/mesh_array_data_path.h
bin/prox_cmdD
bin/prox_cmd
bin/prox_guiD
bin/prox_gui
bin/output
bin/temporary.ele
bin/temporary.node
bin/temporary.poly
PROX/SIMULATION/.DS_Store
PROX/3RDPARTY/.DS_Store
PROX/.DS_Store
.DS_Store
